{% comment %}
    Adds references to JavaScript and CSS files to a page.

    Takes site.custom-javascript-list varialbe and renders script tag for each item in it.
    Takes site.custom-css-list varialbe and renders link tag for each item in it.
{% endcomment %}

{% for javascript in site.custom-javascript-list %}
    <script src="{{ javascript | relative_url }}"></script>
{% endfor %}

{% for css in site.custom-css-list %}
    <link href="{{ css | relative_url }}" rel="stylesheet">
{% endfor %}